<!DOCTYPE html>
{% load static %}
 <html>
 <head>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

 <title>
 THEJAS NAIK
 </title>
 </head>
 <body>
 
 <img src="{% static "css/MyPhoto.jpg" %}" alt="My Image" height="300" width="300"/>
 <div class="tab">
  <button class="tablinks" onclick="openCity(event, 'About Me')">About Me</button>
  <button class="tablinks" onclick="openCity(event, 'Skills')">Skills</button>
  <button class="tablinks" onclick="openCity(event, 'Technical Projects')">Technical Projects
</button>
  <button class="tablinks" onclick="openCity(event, 'Hobbies')">Hobbies</button>
</div>

<div id="About Me" class="tabcontent">
  <h3>About Me</h3>
  <p>I'm a coder, web developer, machine learning enthusiast and a fun loving person. I love working on python and developing website over django. Presently, an undergraduate student at PESIT South campus, Bangalore. My former education was in Little Rock Indian School (A school never to be forgotten) at my hometown, Udupi and Delhi Public School, Mangalore, even before that. I really can't stand people who are dumb but always get along with the funny ones. I like keeping myself busy with either work or through interesting conversations with people. I love competition and you can always think of me as a sportsman who makes a comeback as and when necessary :)</p>
</div>

<div id="Skills" class="tabcontent">
  <h3>Skills</h3>
  <p>Soccer: I'd been the vice captain for Railways in Goa and would've continued to play this sport had I not injured myself on the second day of college, which pretty much perished the game for the rest of my life.
    <br>
    Python: I've been scripting over python for the past one and a half years. It's become one of my hobbies and I'm looking forward to keep this up for life.
    <br>
    C/C++: I gained interest for C/C++ in my 9th grade, after switching my school from DPS to LRIS. This changed the entire destiny of my life.
    <br>
    HTML,Css,Javascript:  I started developing my websites when I started Interning for Infouna Technologies and had an idea to create an ecommerce site. This is when I started working on the three of these and gained hands on experience in frontend development.
    <br>
    MySQL and other database languages: We had a subject on databases (over MySQL) during our 5th semester, but my real interest in using database grew when I started working on a social networking website.
    <br>
    Django: I love using Django (Though I don't want to write an entire thesis :D )
    <br>
    Machine Learning:  I had an idea for a research and started working under a professor who taught me pattern recognition. This is when the journey towards being a researcher started.
    <br>
    Linux: I write all my code over Linux.
    <br>
    Data Analytics: This too, when I started the price comparator website.
    <br>
    Data Strutures: This had been a subject during either our third or fourth semester (it's really difficult to recall), but I haven't worked on any projects over these.
   <br>
   Other Skills: Arduino(beginner), Matlab(Intermediate), Github(Advanced) 
  </p>
</div>

<div id="Technical Projects" class="tabcontent">
  <h3>Technical Projects</h3>
  <p>The Allegorizer: A software package created by me and my teammate as a part of my project for my CBSE final exams. It consisted of some games along with some other amusing and usable applications.</p>
 <br>   
ComparatorX: A price comparator website that compares the price of a product from the different ecommerce websites, and displays the optimal price of the product to the user.
<br>
 Socialize: A socio-technical networking website. 
<br>
Graphics-Project: openGL project to show the simulation of a sand clock.
<br>
Mathemagic: Contains matlab solutions to certain math problems.
<br>
Braillestick: An android and arduio based application that helps the visually impaired to take a walk around the neighbourhood.
<br>
Insomniac: A machine learning approach to classify the normal patients from insomniacs.
<br>
Personal website: My personal website :)
<br><br>
GitHub username: Thejas-1
</p>
</div> 

<div id="Hobbies" class="tabcontent">
  <h3>Hobbies</h3>
  <p>
Reading Novels: I prefer Sidney Sheldon, Daniel Dafoe, Dan Brown, Chetan Bhagat written novels, or any adventurous novels will do.
<br>
Coding: I love developing websites over Python-Djangoa and Flask.
<br>
Research: Kinda give this second priority after the remaining, but sudden mood shifts let me use it.
<br>
Sports: I do go out and prefer playing soccer, foozeball, Table tennis, Basketball, Cricket or Badminton (something that amuses me).
</p>
</div>


<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

</body>
</html>
